<!DOCTYPE html />
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>THE TEST APP</title>
	<meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="bower_components/hover/css/hover-min.css" media="all">
	<link rel="stylesheet" href="css/main.css">
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script> 
	<script type="text/javascript" src="js/vendor/mediaelement/build/mediaelement-and-player.min.js"></script>
	<link rel="stylesheet" href="js/vendor/mediaelement/build/mediaelementplayer.css">

	<!--[if gte IE 9]>
	  <style type="text/css">
	    .gradient {
	       filter: none;
	    }
	  </style>
	<![endif]-->
	

</head>
<body ng-app="app">

	<div class="container ui-view-container" ng-controller="mainController" >
		<!--<div class="appNavGrp">-->

			<button ng-hide="hideLeftButton" class="btn btn-nav leftNav hvr-grow" ng-click="setPage( appPrev )"> <p><span><</span> {{appPrev}}</p> </button>
			<button ng-hide="hideRightButton" class="btn btn-nav rightNav hvr-grow" ng-click="setPage( appNext )"> <p>{{appNext}} <span>></span></p> </button>
		<!--</div>-->
		<div ui-view></div>
	</div>

	<!--<script type="text/javascript" src="js/vendor/velocity.min.js"></script>-->
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

	
	<script type="text/javascript" src="js/services.js"></script>
	<script type="text/javascript" src="js/controllers.js"></script>
	<script type="text/javascript" src="js/directives.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>