<div class="background" >
	<div class="buttons-container">
		<div class="btn btn-clear hvr-grow" ng-click="add1()"><p>+1</p></div>
		<div class="btn btn-clear hvr-grow" ng-click="add5()"><p>+5</p></div>
		<div class="btn btn-clear hvr-grow" ng-click="add10()"><p>+10</p></div>
	</div>
	<div class="results-container">
		<div class="result-box">
			<h2 class="result-txt">Score :</h2>
			<h1 class="result-txt">{{currScore}}</h1>
		</div>
	</div>
</div>